<h1>Listing all users</h1>
<%= link_to "create user", signup_path%>
<table>
	<tr>
		<th>Username</th>
		<th>Email</th>
	</tr>

	<% @users.each do |user|%>
	<tr>
		<td><%= user.username%></td>
		<td><%= user.email%></td>
		<td><%= link_to "edit",edit_user_path(user)%></td>
		<td><%= link_to "delete", user_path(user), method: :delete %></td>
		<td><%= link_to "show", user_path(user)%></td>
	</tr>
	<%end%>
</table>